@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, h1, h2, h3, h4, a{
    color: #303030;
}
body {
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

header{
    margin: 5% 0;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #303030  
}


.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 10px;
    font-weight: 700;
    font-size: 20px;
}
.menu li a{
    padding:10px 15px;
    text-decoration: none;
    color: #303030  
}


.name h3 a{
    text-decoration: none;
    color: #303030;
    font-size: 40px;
}


/* Section 1 */

.banner{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 10% 0;
}

.banner-left{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

.banner-left p{
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0;
}

.banner-left h1{
    font-size: 70px;
}

.banner-right img{
    width: 100%;
}
.banner-text{
    font-size: 20px;
}

.button{
    background-color: #b81e26;
    font-size: 25px;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
}

/* Section 2 */

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin-bottom: 150px;
    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card img{
    width: 100%;
}

.card h1{
    font-size: 30px;
}

.card img, .card h1, .card h2, .card .star h3{
    padding-bottom: 1.5%;
}
.section-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
}
.star{
    padding: 1% 0;
}
.star h3{
    font-size: 15px;
}
.checked {
    color: #b81e26;
  }

/* last-section */

footer{
    background-color:#303030;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

footer h3, footer h4{
    color: rgb(206, 206, 206);
    font-size: 20px;
    line-height: 1.5;
}

footer h3 a{
    font-size: 30px;
    color: rgb(206, 206, 206);
}


.social-media {
    padding-top:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.social-media a{
    font-size: 20px;
    color: rgb(206, 206, 206);
    
}
.facebook, .linkedin, .instagram{
    margin: 0 20px;
}

/* Bonus */
.bonus{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f6f6f6;
    padding: 150px 0;
    
}

.bonus-left{
    text-align: center;
}




.bonus-left img{
    width: 70%;
    
}

.form{
    border-radius: 5px;
    background-color: #f6f6f6;
    padding-right: 0 5% 0 0;
    
}

input[type=submit] {
    background-color: #b81e26;
    font-size: 25px;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    border: none;
  }

input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    
  }


/* Responsive CSS */


/* Tablet */

@media (max-width:950px){
.banner{
    grid-template-columns: 1fr;
}

.bonus{
    grid-template-columns: 1fr;
    padding: 50px 0;
}
.form{
    padding-left:5%;
    padding-right: 5%;
}
.items {
    grid-template-columns: 1fr 1fr;
}

.banner img{
    width: 100%;
    padding: 10%;

}
}


/* Mobile */

@media (max-width:800px){
   
    .items {
        grid-template-columns: 1fr;
    }
    
    .banner img{
        width: 100%;
        padding: 10%;
    
    }
    .menu{
        display: none;
    }
    .banner-left h1{
        font-size: 40px;
    }
    .section-title{
        font-size: 30px;
    }
    }