@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, h1, h2, h3, h4, a{
    color: #303030;
}
body {
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

header{
    margin: 5% 0;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #303030  
}

.banner{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 10px;
    font-weight: 700;
    font-size: 20px;
}
.menu li a{
    padding:10px 15px;
    text-decoration: none;
    color: #303030  
}


.name h3 a{
    text-decoration: none;
    color: #303030;
    font-size: 40px;
}


/* Section 1 */
.banner{
    margin: 10% 0;
}


.banner-left{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

.banner-left p{
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0;
}

.banner-left h1{
    font-size: 70px;
}

.banner-right img{
    width: 100%;
}
.banner-text{
    font-size: 20px;
}

.button{
    background-color: #b81e26;
    font-size: 25px;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
}

/* Section 2 */

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card img{
    width: 100%;
}

.card h1{
    font-size: 30px;
}

.card img, .card h1, .card h2, .card .star h3{
    padding-bottom: 1.5%;
}
.section-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
}
.star{
    padding: 1% 0;
}
.star h3{
    font-size: 15px;
}
.checked {
    color: #b81e26;
  }

